<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="437807153200-433erabsenhjrgilos0go1s2cui4u4o0.apps.googleusercontent.com">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Document</title>
</head>
<body>
<button class="g_id_signout" id="signout_button">Sign Out</button>
    <script>
        const button = document.getElementById("signout_button");
        console.log(button)
      button.addEventListener('click',e=>{
        // console.log("hello")
        google.accounts.id.disableAutoSelect();
      }) 
    </script>
</body>
</html>
