<!DOCTYPE html>
<html>
<body>

<h1>My First Google Map</h1>

<div id="googleMap" style="width:50%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(42.4668,-70.9495),
  zoom:13,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
    position: {lat:42.4668,lng:-70.9495},
    map:map,
    icon:"https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"
})
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPndaft2HpRlI9HeuB_0b-fsO3zaxV1Ok&callback=myMap"></script>

</body>
</html>