<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/" method="post">
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" name="name" required></td>
    </tr>
    <tr>
        <td>Price</td>
        <td><input type="text" name="price" required></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button action="/" type="submit">Register</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>